html, body{
    margin:0;
    padding:0;
    height: 100%;
}


.container{
    display: block;
    min-height: 100px;
    
}

.tidbit, footer{
    text-align: center;
}

nav{
    display: block;
    text-align: center;
}
nav ul{
    border: black 1px solid;
    padding: 5px;
}
nav li{
    padding: inherit;
    display: inline;
    color: grey;
    list-style: none;
    
}

nav li:hover{
    color: blue;
}